*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    height:auto;
    overflow-x: hidden;
}
.nav{
    width:100%;
    height:100%;
    /* background-color: yellow; */
    box-shadow: 0px 15px 30px -20px rgba(40,44,63,.15);
    display: flex;
}
.nav1{
    margin-left: 10px;
    margin-right:100px;
    width:30%;
    height:100%;
    /* background-color: aqua; */
    display:flex;
    align-items: center;
}
.nav1 a{
    font-size: 15px;
    font-weight: bold;
    color:black;
}

.nav1 i{
    padding:20px;
}
.nav2{
    width:60%;
    height:100%;
    /* background-color: blueviolet; */
    margin-right:5.5%;
    display:flex;
    align-items: center;

}
.nav2 a{
    color:black;
    font-size: 20px;
    padding-right: 35px;
    text-decoration: none;

}
.nav2 a:hover{
    color:orange;
}
.menu1{
    margin-top: 10px;
    width:100%;
    height:auto;
    background: rgb(255, 255, 255);
    overflow: hidden;
    
}
.menutag{
    margin-left: 156px;
    width:100%;
    height: auto;
    margin-top:10px;

}
.menuitems{
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
    
    
}

.item{
    padding-right:28px;
    padding-bottom: 70px;
    width: 144px;
    aspect-ratio: auto 144 / 180;
    height: 180px; 
    border-bottom:1px solid black;
}
.parts{
    margin-top:40px;
    margin-left:5vw;
    margin-right: 5vw;
    height:auto;
    width:100%;
    overflow-x: hidden;
}
.part1{
    margin-top:30px;
    width:90%;
    height:auto;
   
   
}
.images{
    width:90vw;
    height:auto;
    display: flex;
    padding-bottom: 80px;
    border-bottom:1px solid black;
    overflow:auto;
}

.images1{
   cursor: pointer;
   position: static;
   width:280px;
   height:auto;
}
.img{
    width:260px;
    height:182px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 35px;
    margin-bottom: 8px;
    
}

.img:hover{
   width: 250px;
   height:172px;
   overflow: hidden;
   
}

.images h3{
    font-size:20px;
}
.parts i{
    font-size:20px;
    color: green;

}
.images p{
    color: grey;
    font-size: 18px;
}
.part2{
   width: 90vw;
   height:auto;
   margin-top: 30px;
}
.part2 p{
    color:grey;
}
.buttons{
    position:relative;
    
}
button{
    margin-top: 20px;
    margin: 1vw 1vw;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding:10px;
    border:1px solid rgb(119, 115, 115);
    font-weight: 550;
    
}
.images2{
    
    width:90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    align-content: stretch;
    padding-bottom:50px;
    border-bottom: 1px solid grey;
    overflow:hidden;
}
.images21{
    position: static;
    cursor: pointer;
    width:250px;
    height:auto;
}
.p2img{
    margin-top: 30px;
    width:220px;
    height:150px;
    border-radius: 20px;
    object-fit: cover;
    margin-left:12px;
    margin-right: 12px;
    margin-bottom: 10px;
    transition:all 1s  smooth ;
}
.p2img:hover{
    width:200px ;
    height:130px ;
}
.part3{
    width:90%;
    height: auto;
    margin-top: 50px;
    margin-bottom:100px;
}
.part3 h2{
    font-size: 24px;

}
.buttons3{
    width: 90%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-bottom: 50px;
    justify-content: space-between;
    
}
.part3 button{
    width:230px;
    height:auto;
    color:rgb(65, 68, 73);
    text-align: center;
    border:1px solid rgb(229, 230, 230);
    border-radius: 7px;
    padding:10px;
}
.bestcuisines{
    width:90%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 60px;
}
.buttons32{
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.buttons32 button{
    width:40%;
    height:auto;
    margin-right: 6%;
}
.part4{
    width:100%;
    height:auto;
    display: flex;
    background-color: rgb(240, 240, 245);
}
.download{
    width:50%;
    height: auto;
    font-family: Gilroy;
    font-weight: 850;
    color:rgb(61, 64, 70);
    text-align: center;
}
.downloadon{
    margin-left: 1.5rem;
    width:50vw;
    height:auto;
    display: flex;
}
.PlayStore{
    width:22vw;
    height:50px;
}
.AppStore{
    width:22vw;
    height:50px;
}
.downloadon #playstore{
    padding-right: 25px;
}
footer{
    background-color:black;
    width:100%;
    max-width: 100%;
    overflow-x: hidden;
    height:auto;
}
.fi{
  margin-left:190px;
  margin-right: 190px;
  padding-top:50px ;
   color:white;
   display:flex;
   justify-content: space-between;

}
.fi1{
  color:white;
  display: flex;
  padding-bottom: 15px;
  
  align-items: center;
}
.fi1 img{
    height:40px; 
    width:40px;

}
.fi1{
    font-size: 18px;
}
.fi0{
    color:grey;
}
.fi a{
    color:grey;
    padding-bottom: 30px;
    text-decoration: none;
    font-size:18px;
    line-height: 40px;
}
.Legal{
    margin-top: 50px;
}
.fi4 button{
    background-color: black;
    color: white;
    border-color: rgb(44, 43, 43);
    border-radius:5px;

}
h2{
  text-align: start;
}


@media screen and (max-width:768px) {
    .nav{
        width:100%;
        height:40px;
    }
    .nav1{
        margin-left: 0px;
        margin-right:0px;
        width:30%;
        height:100%;
    }
    .nav1 a{
        font-size: 7px;
        font-weight: bold;
        color:black;
    }
    .nav1 i{
        padding:0px;
    }
    .nav1 img{
        width:50px;
        height:40px
    }
    .nav2{
        width:68%;
        height:100%;
        margin-right:0px;

    }
    .nav2 a{
        font-size: 10px;
        padding-right: 10px;
        
    }
    #signin span{
         position: absolute;
          top: -8px;
          right: -8px;
          background: red;
          color: white;
          padding: 2px 6px;
          font-size: 12px;
          border-radius: 50%;
    }
    .menu{
        margin-top: 1px;
        width:98%;
        height:auto;       
        
    }
    .menutag{
        margin-left: 20px;
        width:100%;
        height: auto;
        margin-top:10px;
    
    }
    .menutag h2{
        font-size: 20px;
    }
    .menuitems{
       
        padding-left: 23px;
        
        
    }
    
    .item{
        padding-right:20px;
        padding-bottom: 20px;
        width: 100px;
        aspect-ratio: auto 100 / 50;
        height:50px ;
        
        
        border-bottom:1px solid grey;
    }
    .parts{
        margin: 0;
        padding: 0;
        width: 100vw;
        height:auto;
        margin-top:20px;
        margin-left:10px;
        margin-right:10px;
    }
    .parts h2{
        font-size: 20px;
    }
    .part1{
        width: 98%;
        margin-top:10px;
    }
    .images{
        padding-bottom: 20px;
        border-bottom:1px solid black;
    }
    
    .images1{
       cursor: pointer;
       position: relative;
    }
    .img{
        width:20vw;
        height:8vh;
        border-radius: 20px;
        margin-left: 1.5rem;
        margin-bottom: 0.8rem;
        
    }
    
    .img:hover{
       width: 22vw;
       height:10vh; 
    }
    
    .images h3{
        font-size:15px;
    }
    .parts i{
        font-size:13px;
    
    }
    .images p{
        color: grey;
        font-size: 10px;
    }
    
    .part2{
        width: 98%;
        height:auto;
        margin-top: 10px;
     }
     
     button{
         margin-top: 10px;
         font-size: 12px;
         line-height: 12px;
         padding:7px;
         
         
     }
     .images2{
         
         width:90%;
         height:auto;
         display:flex;
         flex-wrap: wrap;
         padding-bottom:20px;
     }
     .images21{
         position: relative;
         cursor: pointer;
         height: auto;
         width: 40vw;
         margin-right: 3vw;
         margin-left: 1vw;
         margin-bottom: 20px;
     }
     .images21 h3{
        font-size: 15px;
     }
     .images21 p{
        font-size: 10px;
     }
     .images21 img{
         margin-top: 10px;
         width:35vw;
         height:20vw;
         border-radius: 20px;
         object-fit: cover;
         margin-left:4vw;
         margin-right: 2px;
         margin-bottom: 5px;
         transition:all 1s  smooth ;

     }
     
     .p2img:hover{
         width:32vw ;
         height:17vw ;
     }
     .part3{
        margin-top: 20px;
        margin-bottom:40px;
    }
    .part3 h2{
        font-size: 20px;
    
    }
    .buttons3{
        margin-bottom: 20px;
        
    }
    .part3 button{
        width:30vw;
        border-radius: 7px;
        padding:5px;
    }
    .bestcuisines{
       
        margin-bottom: 30px;
    }
    .buttons32{
        flex-direction: row;
    }
   
    .buttons32 button{
        width:30vw;
        height:auto;
        margin-right: 3%;
    }
    
    .part4{
        width:100%;
        height:auto;
        
    }
    .download{
        width:40vw;
        height: auto;
        font-family: Gilroy;
        font-weight: 850;
        color:rgb(61, 64, 70);
        text-align: center;
    }
    .download h1{
        margin-left: 20px;
        font-size: 13px;
        text-align: justify;
    }
    .downloadon{
        width:50%;
        height:auto;
    }
    .downloadon img{
        width:150px;
        height:30px;
    }
    .downloadon #playstore{
        padding-right: 5px;
    }
    footer{
        background-color:black;
        width:100%;
        height:auto;
    }
    .fi{
      margin-left:20px;
      margin-right: 20px;
      padding-top:20px ;
       color:white;
    }
    .fi h3{
       font-size: 15px;
    }
    .fi1{
      color:white;
      display: flex;
      padding-bottom: 7px;
      
      align-items: center;
    }
    .fi1 img{
        height:20px; 
        width:20px;

    }
    
    .fi1{
        font-size: 12px;
    }
    .fi0{
        color:grey;
    }
    .fi0 h4{
        font-size: 13px;
    }
    .fi a{
        color:grey;
        padding-bottom: 30px;
        text-decoration: none;
        font-size:12px;
        line-height: 20px;
    }
    .Legal{
        margin-top: 20px;
    }
    .fi4 button{
        background-color: black;
        color: white;
        border-color: rgb(44, 43, 43);
        border-radius:5px;
    
    }
}